{% block LibraryItems %}

<div class="container p-0">
  <ul class="LibraryItems nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href='#Library'>Library</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href='#Mix'>Mix</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href='#Recommended'>Recommended</a>
    </li>
  </ul>

  <div class="tab-content container p-0">
    <div id="Library" class="LibraryItem container tab-pane active p-0">
      <table class="table"><tbody>
        {% for artist, title in Library.items %}
          <tr><td>{{ artist }}</td><td>{{ title }}</td></tr>
        {% endfor %}
      </tbody></table>
    </div>

    <div id="Mix" class="LibraryItem container tab-pane fade p-0">
      <table class="table"><tbody>
        {% for artist, title in Mix.items %}
          <tr><td>{{ artist }}</td><td>{{ title }}</td></tr>
        {% endfor %}
      </tbody></table>
    </div>

    <div id="Recommended" class="LibraryItem container tab-pane fade p-0">
      <table class="table"><tbody>
        {% for artist, title in Recommended.items %}
          <tr><td>{{ artist }}</td><td>{{ title }}</td></tr>
        {% endfor %}
      </tbody></table>
    </div>
  </div>
</div>
{% endblock LibraryItems %}


<!--
  +----------------------------------------------------------------------------------+
  |                                                                                  |
  |         +-----------------------+           +-------------------------------+    |
  |         |    LastFM Name        |           |  GMusic        |  Spotify     |    |
  |         +-----------------------+           +-------------------------------+    |
  |                                             |                               |    |
  |         +-------+  +------+  +-------+      |                               |    |
  |         +Library+  +Mix---+  +-Rec---+      |                               |    |
  |                                             |                               |    |
  |         +-----------------------------+     |                               |    |
  |         |                             |     |                               |    |
  |         | - Blah                      |     +-------------------------------+    |
  |         | | Hi                        |                                          |
  |         | - More                      |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         +-----------------------------+                                          |
  +----------------------------------------------------------------------------------+

-->
