{% block LibraryItems %}
<div class="LibraryItems tab">
  <button class="LibraryItems tablinks active" onclick="openTab(event, 'Library', 'LibraryItems')">Library</button>
  <button class="LibraryItems tablinks" onclick="openTab(event, 'Mix', 'LibraryItems')">Mix</button>
  <button class="LibraryItems tablinks" onclick="openTab(event, 'Recommended', 'LibraryItems')">Recommended</button>
</div>

<div id="Library" class="LibraryItems active tabcontent">
  {% for artist, title in Library.items %}
    {{ artist }}: {{ title }} <br>
  {% endfor %}
</div>

<div id="Mix" class="LibraryItems tabcontent">
  {% for artist, title in Mix.items %}
    {{ artist }}: {{ title }} <br>
  {% endfor %}
</div>

<div id="Recommended" class="LibraryItems tabcontent">
  {% for artist, title in Recommended.items %}
    {{ artist }}: {{ title }} <br>
  {% endfor %}
</div>
{% endblock LibraryItems %}


<!--
  +----------------------------------------------------------------------------------+
  |                                                                                  |
  |         +-----------------------+           +-------------------------------+    |
  |         |    LastFM Name        |           |  GMusic        |  Spotify     |    |
  |         +-----------------------+           +-------------------------------+    |
  |                                             |                               |    |
  |         +-------+  +------+  +-------+      |                               |    |
  |         +Library+  +Mix---+  +-Rec---+      |                               |    |
  |                                             |                               |    |
  |         +-----------------------------+     |                               |    |
  |         |                             |     |                               |    |
  |         | - Blah                      |     +-------------------------------+    |
  |         | | Hi                        |                                          |
  |         | - More                      |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         +-----------------------------+                                          |
  +----------------------------------------------------------------------------------+

-->
