{% block LibraryItems %}
<div class="LibraryItems">
  {% for artist, title in Library.items %}
    {{ artist }}: {{ title }} <br>
  {% endfor %}
</div>
{% endblock LibraryItems %}


<!--
  +----------------------------------------------------------------------------------+
  |                                                                                  |
  |         +-----------------------+           +-------------------------------+    |
  |         |    LastFM Name        |           |  GMusic        |  Spotify     |    |
  |         +-----------------------+           +-------------------------------+    |
  |                                             |                               |    |
  |         +-------+  +------+  +-------+      |                               |    |
  |         +Library+  +Mix---+  +-Rec---+      |                               |    |
  |                                             |                               |    |
  |         +-----------------------------+     |                               |    |
  |         |                             |     |                               |    |
  |         | - Blah                      |     +-------------------------------+    |
  |         | | Hi                        |                                          |
  |         | - More                      |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         +-----------------------------+                                          |
  +----------------------------------------------------------------------------------+

-->
