{% extends 'playlistGenerator.html' %}
{% block LibraryItems %}
<div class="LibraryItems">
  <ul>
    {% for artist, title in Library.items %}
      <li> {{ artist }}: {{ title }} </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}



  +----------------------------------------------------------------------------------+
  |                                                                                  |
  |         +-----------------------+           +-------------------------------+    |
  |         |    LastFM Name        |           |  GMusic        |  Spotify     |    |
  |         +-----------------------+           +-------------------------------+    |
  |                                             |                               |    |
  |         +-------+  +------+  +-------+      |                               |    |
  |         +Library+  +Mix---+  +-Rec---+      |                               |    |
  |                                             |                               |    |
  |         +-----------------------------+     |                               |    |
  |         |                             |     |                               |    |
  |         | - Blah                      |     +-------------------------------+    |
  |         | | Hi                        |                                          |
  |         | - More                      |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         |                             |                                          |
  |         +-----------------------------+                                          |
  +----------------------------------------------------------------------------------+
