{% block PlaylistGenerator %}
<div class="row">
    <div class="col-1 col-lg-2"></div>
    <div class="col-5 col-lg-4">
        <!-- h1 class="display-4">
            <span class="cap">P</span><span class="non-cap">laylist</span>
        </h1>
    </div>
    <div class="col-5 col-lg-4">
        <h1 class="display-4 text-right">
            <span class="cap">G</span><span class="non-cap">enerator</span>
        </h1> -->
    </div>
    <div class="col-1 col-lg-2"></div>
</div>
<div class="row">
    <div class="col-1 col-lg-2"></div>
    <div class="col-10 col-lg-8 PlaylistGenerator">
      <div class="row">
        {% include "sources.html" %}
        {% include "accounts.html" %}
      </div>
    </div>
    <div class="col-1 col-lg-2"></div>
</div>
{% endblock PlaylistGenerator %}
