{% block SourceItems %}
<div class="container col-12">
  <ul class="SourceItems nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href='#LastFM'>LastFM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href='#SomethingElse'>Something Else</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href='#AnotherThing'>Another Thing</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="LastFM" class="container tab-pane active">
        {% include "LastFM/LastFM.html" %}
    </div>

    <div id="SomethingElse" class="container tab-pane fade">
        <p>Implement Something else</p>
    </div>

    <div id="AnotherThing" class="container tab-pane fade">
        <p>Do Another thing</p>
    </div>
  </div>
</div>
{% endblock SourceItems %}