<style>

  body {
    margin: 0;
    padding: 0;
    --main-primary-colour: #2a0f66; /* (Blue/Purple) */
    --main-secondary-colour: #91B9D6; /* (light Blue 2) */
    --accent-primary-colour: #8E99CE; /* (light Blue 1) */
    --accent-secondary-colour: #cbd0e8; /* (v. Pale Blue) */
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    background: linear-gradient(var(--main-primary-colour), var(--main-secondary-colour));
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .cap {
      color: var(--accent-primary-colour);
      font-weight: bold;
      font-size: 150%;
  }

  .non-cap {
      color: var(--accent-primary-colour);
  }

  .PlaylistGenerator {
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    width: auto;
    height: auto;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.5);
    background: #f6f6f6;
  }

  .LibraryItem {
    text-align: left;
  }

  .nav-tabs .nav-item .nav-link {
    background-color:var(--main-secondary-colour);
  }

  .nav-tabs .nav-item .nav-link:not(.active) {
    background-color: #f6f6f6;
    color:var(--main-secondary-colour);
  }

</style>